body {
  margin: 0;
  background-color: black;
  font-family: Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HEADER I FIKSUAR */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  z-index: 1000;
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* logo majtas, menu djathtas */
  padding: 0 20px;
  height: 100%;
  
}

/* LOGO */
.logo img {
  height: 50px;
}

/* MENU LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: seashell;
  text-decoration: underline;
  opacity: 0.9;
  font-size: 22px;
}

.nav-links a:hover {
  opacity: 1;
}

#banner {
  background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg"); 
  background-size: cover;
  background-position: center;
  height: 700px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  #banner .content h2 {
  background-color: black;
  position: relative;
  top: 50px;
  width: 1200px;
  margin: 0 auto;
  color: seashell;
  text-align: center;
  font-family: Helvetica;
  padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}
  #banner .content h4 {
  background-color: black;
  position: relative;
  top: 50px;
  width: 1200px;
  margin: 0 auto;
  color: seashell;
  text-align: center;
  font-family: Helvetica;
  padding: 20px 40px;
   display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.small h2{
  color: seashell;
  text-align: center;
  font-family: Helvetica;
}
.small h4{
  color: seashell;
  text-align: center;
  font-family: Helvetica;
}


.photos{
 display: flex;
 width: 300px;
 height: 200px; 
}
.gallery{
    display: flex;
    justify-content: space-around;
}

.second-gallery{
     display: flex;
    justify-content: space-around;
}
.sec-photos{
 display: flex;
 width: 300px;
 height: 200px;
}

.text-new{
    color: seashell;
    font-family: Helvetica;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.text-first{
    color: seashell;
    font-family: Helvetica;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
#second-banner{
background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg");
  background-size: cover;
  background-position: center;
  width: 1200px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
}

.locations-content{
  color: seashell;
  font-family: Helvetica;
  text-align: center;
}

.locations-content h4 {
  display: flex;
  justify-content: center;
  font-size: 34px;
  margin-bottom: 15px;
}
#banner-box{
display: flex;
justify-content: center;
gap: 40px;
margin-top: 15px;
}

.a-box{
  background-color: black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.a-box h3{
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  font-size: 22px;
}

footer{
  color: seashell;
}
.end{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 200px;
}
.copy{
  display: flex;
  justify-content: flex-start;
}
