html{
    background-color: #2F4F4F;
    font-family: 'Red Hat Display';
    font-weight: 300;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
header{
    background-color: #EEE8AA;
    width: 100%;
    margin: 0;  
}
header ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    flex-wrap: wrap;
}
header a {
    text-decoration: none;
    color: #2F4F4F;
    font-size: 12px;
}
footer{
    background-color: #EEE8AA;
    width: 100%;
    margin: 0;  
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}
footer a {
    text-decoration: none;
    color: #2F4F4F;
    font-size: 12px;
}

body .title{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2F4F4F;
    font-family: 'Red Hat Display';
    font-weight: 300;
    padding: 40px;
    background-color: #FFFACD;
}

body .txt h4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #F0E68C;
   font-size: 18px;
   font-weight: bold;
   padding-left: 30px;
}
body .txt h5{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #EEE8AA;
   font-size: 12px;
   font-weight: lighter;
   font-style: italic;
   padding-left: 30px;
}
body .images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
body .img-a{
    height: auto;
    width: 32%;
    border-radius: 2%;

}
.img-b{
    height: auto;
    width: 32%;
    border-radius: 2%;

}
.img-c{
    height: auto;
    width: 32%;
    border-radius: 2%;

}
body .txt-a{
    font-family: 'Red Hat Display';
    font-weight: 300;
    padding: 40px;
    background-color: #FFFACD;

}
body .txt-a h4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #2F4F4F;
    font-size: 18px;
    font-weight: bold;
    padding-left: 30px;
}
body .txt-a h6{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: #2F4F4F;
   font-size: 12px;
   font-weight: lighter;
   font-style: italic;
   padding-left: 30px;
}
body .a-images{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.img-e{
    height: auto;
    width: 32%;
    border-radius: 2%;
}
.img-f{
    height: auto;
    width: 32%;
    border-radius: 2%;   
}
.img-g{
    height: auto;
    width: 32%;
    border-radius: 2%;    
}
body .txt-c{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #EEE8AA;
    font-size: 18px;
}
body .main-img{
    display: flex;
    justify-content: center;
    align-items: center;  
}
body .main-img img {
    width: 80%;        
    max-width: 900px;  
    height: auto;     
    border-radius: 2%; 
}
body .txt-b{
    display: flex;
    color: #EEE8AA;
    justify-content: center;
    align-items: center;
}
@media (max-width: 600px) {
  body .images img,
  body .a-images img {
    width: 100%; 
  }
  body .title h1 {
    font-size: 1.5rem;
    text-align: center;
  }

}
@media (min-width: 601px) and (max-width: 1024px) {
  body .images img,
  body .a-images img {
    width: 48%; 
  }

  body .title h1 {
    font-size: 2rem;
  }
}
@media (min-width: 1025px) {
  body .images img,
  body .a-images img {
    width: 32%; 
  }
}


